.buttons-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 15%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}


.table-todos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em;
}

.table-todos .todo-item-completed {
  background-color: green;
  color: #fff;
}

.table-todos .todo-item-pending {
  background-color: orange;
  color: #333;
  font-weight: bold;
}

.table-todos button {
  margin-left: 1em;
}

.table-todos button {
  border: none;
  border-radius: 0.5em;
  padding: 0.5em;
  transition: all 0.3s ease-in-out;
}

.table-todos button a {
  text-decoration: none;
  color: #fff;
}

.btn-selected {
  background-color: rgb(46, 39, 39);
  color: #fff;
  border: none;
  border-radius: 0.5em;
  padding: 0.5em;
  transition: all 0.3s ease-in-out;
}

.btn-unselected {
  background-color: #fff;
  color: #000;
  border: none;
  border-radius: 0.5em;
  padding: 0.5em;
  transition: all 0.3s ease-in-out;
}

.filter-form input {
  border: 1px solid #000;
  border-radius: 0.5em;
  padding: 0.5em;
  transition: all 0.3s ease-in-out;
}

.filter-form{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
}

.btn-delete{
  background-color: rgb(158, 39, 39);
  color: #fff;
  border: none;
  border-radius: 0.5em;
  padding: 0.5em;
  transition: all 0.3s ease-in-out;
}

.btn-delete:hover{
  background-color: rgb(255, 0, 0);
  color: #fff;
  border: none;
  border-radius: 0.5em;
  padding: 0.5em;
  transition: all 0.3s ease-in-out;
}

.btn-pending{
  background-color: rgb(151, 115, 47);
  color: #fff;
  border: none;
  border-radius: 0.5em;
  padding: 0.5em;
  transition: all 0.3s ease-in-out;
}

.btn-pending:hover{
  background-color: rgb(255, 153, 0);
  color: #fff;
  border: none;
  border-radius: 0.5em;
  padding: 0.5em;
  transition: all 0.3s ease-in-out;
}

.btn-link{
  background-color: rgb(75, 75, 75);
  color: #fff;
  border: none;
  border-radius: 0.5em;
  padding: 0.5em;
  transition: all 0.3s ease-in-out;
}

.btn-link:hover{
  background-color: rgb(31, 29, 29);
  color: #fff;
  border: none;
  border-radius: 0.5em;
  padding: 0.5em;
  transition: all 0.3s ease-in-out;
}

.btn-finish{
  background-color: rgb(43, 100, 43);
  color: #fff;
  border: none;
  border-radius: 0.5em;
  padding: 0.5em;
  transition: all 0.3s ease-in-out;
}

.btn-finish:hover{
  background-color: rgb(52, 146, 52);
  color: #fff;
  border: none;
  border-radius: 0.5em;
  padding: 0.5em;
  transition: all 0.3s ease-in-out;
}

.btn-add-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-add-link{
  background-color: rgb(46, 39, 39);
  color: #fff;
  border: none;
  border-radius: 0.5em;
  padding: 0.5em;
  transition: all 0.3s ease-in-out;
  padding: 0.8em;
  width: 15%;
}

.btn-add-link a{
  text-decoration: none;
  color: #fff;
}

.btn-add-link:hover{
  background-color: rgb(82, 78, 78);
  color: #fff;
  border: none;
  border-radius: 0.5em;
  padding: 0.5em;
  transition: all 0.3s ease-in-out;
  padding: 0.8em;
  width: 15%;

}

.content-add-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  flex-wrap: wrap;
}


.todo-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1em;
  padding: 2em;
}