:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.active {
  color: red;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

form button {
  cursor: pointer;
}

.success-login {
  color: green;
  animation: messageAnimation 1s ease-in-out;
}

.error-login {
  color: red;
  animation: messageAnimation 1s ease-in-out;
}

.todo-item-completed {
  background-color: green;
  color: #fff;
}

.todo-item-pending {
  background-color: orange;
  color: #333;
  font-weight: bold;
}


button{
  cursor: pointer;
}

.table-todos{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.table-todos button{
  margin-left: 1em;
}

.table-todos button {
    border: none;
    border-radius: 0.5em;
    padding: 0.5em;
    transition: all 0.3s ease-in-out;  
}

/* select the third button */
.table-todos button a {
    text-decoration: none;
    color: #fff;
  }

.table-todos .btn-link {
    background-color: rgb(46, 39, 39)
    };

@keyframes messageAnimation {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
